<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="SMG" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      // Force light theme
      document.documentElement.setAttribute("data-theme", "light");
      localStorage.setItem("phx:theme", "light");
    </script>
  </head>
  <body style="background-color: white !important; margin: 0; padding: 0;">
    {@inner_content}
  </body>
</html>
